*{
    box-sizing: content-box !important;
}

.applyH{
    height: 50px !important;
}

.cinaf-btn{
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 500;
    position: relative;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 15px;
    padding: 0px 20px;
    height: 50px;
    width: 100%;
    min-width: auto;
    background-color: transparent;
    color: rgb(245, 245, 245);
    border: 1px solid rgba(245, 245, 245, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: none;
    transition: all linear 200ms;
    text-decoration: none;

    .icon{
        opacity: .4;
        transition: all linear 200ms;
    }

    background: darken($color: #ed9521, $amount: 13);
    cursor: pointer;
    color: #fff;
    background: linear-gradient(-90deg, #ed9521, darken(#ed9521, 10));

    &:hover{

        .icon{
            opacity: 1;
        }

        background: darken($color: #ed9521, $amount: 16);
        background: linear-gradient(90deg, #ed9521, darken(#ed9521, 13));

    }
}

.c-white{
    color: #0f1128 !important;
    background: white !important;

    &:hover{
        background: #0f1128 !important;
        color: white !important;
    }
}

.c-white-d{
    color: #0f1128 !important;
    background: #f0f1f4 !important;

    &:hover{
        background: #0f1128 !important;
        color: white !important;
    }
}

.dl{
    color: #fff !important;
    background: #3e7dd0 !important;

    &:hover{
        background: darken($color: #4d96f6, $amount: 10) !important;
        color: white !important;
    }
}

.sm{
    height: 8px !important;
    font-size: 12px !important;
}


.btn-nav{
    background: rgba($color: lighten(#fff, 5), $alpha: 0.2);
    width: 100px;

    &:hover{
        background: rgba($color: lighten(#fff, 5), $alpha: 0.4);
    }
}

@media only screen and (max-width: 720px){
    .dl{
        font-size: 10px !important;
    }
}

