@media only screen and (max-width: 720px){
    .downloadBody{
        .downloadBody-content{
            padding: 50px 10px !important;
            border-radius: 4px !important;
        }
    }

    .bTitle{
        font-size: 18px !important;
        text-align: left;
    }

    .bloc-title{
        font-size: 12px !important;
    }

    .bloc-title-text{
        *{
            font-size: 16px !important;
        }
    }

    .DDownloadItem{
        padding: 10px !important;
        .DIcon{
            width: 12px !important;
            height: 12px !important;
            img{
                width: 8px !important;
                height: 8px !important;  
            }
            *{
                font-size: 30px !important;
                color: #000000;
            }
        }

    }

    .downloadLink{
        font-size: 10px !important;
        padding: 5px !important;
    }

    .MagnetDownloadLink{
        font-size: 10px !important;
        padding: 5px !important;
    }

    .DText{
        font-size: 12px !important;
        font-weight: 400;
    }
}


.downloadBody{
    margin-top: 150px;
    width: 100%;

    .downloadBody-content{
        background: #000000;
        padding: 50px 80px;
        border-radius: 10px;
    }

    *{
        box-sizing: border-box !important;
    }
}

.white{
    color: white !important;
}

.bTitle{
    font-size: 40px;
    font-weight: 500;
    align-items: center;
}

.whiteL{
    color: rgba($color: #fff, $alpha: .6);
    text-align: center;
    line-height: 30px;
}

.d-head-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bloc-title{
    color: white;
    *{
        color: white;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .bloc-title-icon{
        *{
            font-size: 40px;
        }
    }

    .bloc-title-text{
        *{
            font-size: 30px;
            font-weight: 500;
        }
    }
}


.d-body{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    flex-direction: column;
}

.DDownload{
    background: white;
    border-radius: 10px;
    padding: none;
}

.mb-10{
    margin-bottom: 10px !important;
}

.DDownloadItem{

    padding: 30px;
    //border-radius: 10px 10px 0px 0px;
    width: 100%;


    display: flex;
    align-items: center;
    justify-content: space-between;

    .DIcon{
        width: 20px !important;
        height: 20px !important;
        img{
            width: 15px !important;
            height: 15px !important;  
        }
        *{
            font-size: 60px;
            color: #000000;
        }
    }
}

.DText{
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}


.DDownload{
    width: 100%;
    .DDownload-body{
        width: 100%;

        &:nth-child(odd){
            .DDownloadItem{
                border-bottom: solid 2px #000000;
            }
        }
    }
}


.downloadLink{
    display: flex;
    align-items: center;
    justify-content: center;
    background: lighten($color: #f0f3f5, $amount: 3);
    gap: 15px;
    color: #3c77c6;
    border-radius: 4px;
    user-select: none;

    text-decoration: none;

    padding: 10px 20px;
    transition: all linear 200ms;


    &:hover{
        transform: scale(1.02);
    }

    img{
        border-radius: 4px;
        width: 25px;
        height: 25px;
    }
}

.DLink{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fw{
    width: 400px !important;
}
