@media only screen and (max-width: 720px){
    .webSection{
        border-radius: 10px !important;
        .webSection-content{
            padding: 10px !important;
            flex-direction: column !important;

            .webSection-presentation{
                padding: 20px !important;
            }
        }
    }
}

 
.webSection{
    
    margin-top: 100px;
    background: #0f1128;
    height: 500px;
    border-radius: 20px;
    position: relative;

    .webSection-content{
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .webSection-video{
            img{
                width: 100%;
                max-width: 600px;
            }
        }

        .webSection-presentation{
            background: white;
            border-radius: 20px;
            max-width: 350px;
            padding: 50px;
            height: 450px;
            margin-top: -70px;
            right: 30px;
            padding-bottom: 20px;
            padding-top: 20px;
            box-shadow: 2px 8px 21px -3px rgba(0,0,0,0.37);
            -webkit-box-shadow: 2px 8px 21px -3px rgba(0,0,0,0.37);
            -moz-box-shadow: 2px 8px 21px -3px rgba(0,0,0,0.37);
        }
    }
}

.h1{
    font-size: 3rem;
    color: #0f1128;
    line-height: 40px;
}

.h2{
    font-size: 1.8rem;
    color: #0f1128;
    line-height: 40px;
}

.p{
    font-size: 1.3rem;
    color: rgba($color: #0f1128, $alpha: 0.85);
    line-height: 30px;
}

.p2{
    font-size: 1.1rem;
    color: rgba($color: #0f1128, $alpha: 0.85);
    line-height: 30px;
}

.lt40{
    line-height: 40px !important;
}

.primary{
    color: #ec8d30;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    background-image: linear-gradient(288.17deg,#e78420 12.6%,darken(#ec8d30, 14) 50.82%, lighten(#ec8d30, 15) 90.12%);
}

@media only screen and (max-width: 720px){
    .webSection{
        height: 100% !important;
        padding-top: 50px;
        padding-bottom: 50px;

    .webSection-content{


        .webSection-presentation{
            margin-top: 10px !important;
        }
    }
}

.h2{
    font-size: 1.2rem;
}
}