.dsk{
    margin-top: 100px;
    margin-bottom: 100px;
}

.desksection{
    margin-top: 100px;

    .desksection-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }
}

@media only screen and (max-width: 720px){
    .desksection{
        margin-top: 240px !important;
        .desksection-content{
           flex-direction: column !important;
           padding-left: 10px !important;
           padding-right: 10px !important;
           gap: 10px !important;
        }
    }
}
