body, html{
    background: #fff;
}

.login{
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;


    .login-body{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        

        *{
            width: 100% !important;
        }
    }
}