.download{

    margin-bottom: 100px;
    
    .downloadContent{
        background: #0f1127;
        padding: 40px;
        border-radius: 20px;

        .download-body{
            display: flex;
            flex-direction: column;
            gap: 2px;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        *{
            color: white;
        }
    }
}

@media only screen and (max-width: 720px){
    .download{
        margin-top: 1240px !important;
        margin-bottom: 100px !important;
        border-radius: 10px !important;
    }
}
