.footer{
    background: #000000;
    padding: 50px 0px;
    overflow: hidden;
    margin-top: 100px;

    .footer-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 10px;

        .section{

            .section-head{
                color: #fff;

            }

            .section-body{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 20px;

                .section-item{

                    *{
                        text-decoration: none !important;
                        color: #fff;
                    }

                    &:hover{
                        color: #ed9521;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 720px){
    .footer{
        padding: 50px 10px;
        height: 100% !important;
        .footer-content{
            flex-direction: column !important;
            gap: 10px !important;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }
}


.favicon{
    width: 60px !important;
    height: 60px !important;
}