.download{
    background: $secondaryDark;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    
    .downloadContent{

        p{
            color: rgba(245, 245, 245, 0.6);
        }

        .download-body{
            display: flex;
            flex-direction: column;
            gap: 2px;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        *{
            color: white;
        }
    }
}

