.footerr{
    background: $primaryDark;
    padding: 100px 0px;

    .footerr-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    
        .socials{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            .social{
                color: white;
                *{
                    color: white;
                    font-size: 40px;
                }

                &:hover{
                    transition: all linear 300ms;
                    opacity: .6;
                    *{
                        color: lighten($color: #ffffff, $amount: 0.6);
                    }
    
                }
            }
        }

        .vector{
            margin-top: 30px;
            padding-top: 30px;
            border-top: solid 2px #1F1F1F;
            width: 100%;

            img{
                width: 50px;
                height: auto;
            }
        }
    }
}
